<p>ユーザー一覧</p>
<% @users.each do |user| %>
<p>
    <%= link_to user.uid, user.pass %>
    <%= link_to '削除', "/users/#{user.id}", method: :delete %>
</p>
<% end %>
<p>
    <%= link_to '新規アカウント追加', '/users/new' %><br>
    <%= link_to 'ホームに戻る' , '/' %>
</p>
